<h1>Listing Jeux Videos</h1>
<br/>

<table>
  <thead>
    <tr>
      <th>Titre</th>
    </tr>
  </thead>

  <tbody>
    <% @jeux_videos.each do |jeux_video| %>
      <tr>
       <td><%= jeux_video.title %></td>
       <td><%= link_to 'Show', jeux_video_path(jeux_video) %>
       <%= link_to 'Edit', edit_jeux_video_path(jeux_video) %>
       <%= link_to 'Destroy', jeux_video_path(jeux_video), :method => :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jeux video', new_jeux_video_path %>
<br/>
<%= link_to 'Back', root_path %>


