<h1><%= @jeux_video.title %></h1>
<br/>

<p>
<strong>Body:</strong>
<%= @jeux_video.body %>
</p>

<p>
<strong>Commentaires:</strong>
<%= @jeux_video.commentaire %>
</p>

<p>
<strong>Nombre de joueurs:</strong>
<%= @jeux_video.nb_joueur %>
</p>

<p>
<strong>Server:</strong>
<%= @jeux_video.server %>
</p>

<p>
<strong>Champions:</strong>
<%= @jeux_video.champion %>
</p>

<%= button_to "Ajouter à mes jeux", add_jv_to_user_jeux_videos_path, :method => :get %>
<%= button_to "Ajouter à mes jeux favoris", add_jv_fav_to_user_favorites_path, :method => :get %>




<br/>
<div id = "com_test">
<h2>Comments</h2>
</div>
<br/>
<div id = "comments_all">
<%= render partial: 'jeux_videos/comment', collection: @jeux_video.comments %>
</div>
<br/>
<%= link_to 'post a comment', new_comment_path(@comment), id: "post_link", :remote => true %>
<br/>
<br/>

<%= link_to 'Edit', edit_jeux_video_path(@jeux_video) %> |
<%= link_to 'Back', jeux_videos_path %>
