<h1><%= @user.email %></h1>
<br/>

<p>
<strong>Pseudo:</strong>
<%= @user.pseudo %>
</p>

<p>
<strong>Age:</strong>
<%= @user.age %>
</p>

<p>
<strong>Sexe:</strong>
<%= @user.sexe %>
</p>

<p>
<strong>Pays:</strong>
<%= @user.pays %>
</p>

<p>
<strong>Description:</strong>
<%= @user.description %>
</p>

<p>
<strong>Admin:</strong>
<%= @user.admin %>
</p>


