<h1><%= current_user.email %></h1>
<br/>

<p>
<strong>Pseudo:</strong>
<%= @current_user.pseudo %>
</p>

<p>
<strong>Age:</strong>
<%= @current_user.age %>
</p>

<p>
<strong>Sexe:</strong>
<%= @current_user.sexe %>
</p>

<p>
<strong>Pays:</strong>
<%= @current_user.pays %>
</p>

<p>
<strong>Description:</strong>
<%= @current_user.description %>
</p>



