<h1>Resultats Matchs</h1>

<br/>


<% @matches.each do |match| %>

  <p>
  <strong>Id Match n° <%= match.id %></strong>
  </p>
  <br/>

  <p>
  <strong>Player 1:</strong>
    <%= User.find(match.player1_id).pseudo %>
  </p>

  <p>
  <strong>Player 2:</strong>
   <%= User.find(match.player2_id).pseudo %>
  </p>

  <p>
  <strong>Score player 1:</strong>
    <%= match.score_player1 %> pts
  </p>

  <p>
  <strong>Score player 2:</strong>
    <%= match.score_player2 %> pts
  </p>

  <p>
  <strong>Vainqueur du match:</strong>
    <% if match.winner_id == 0 %>
        Egalité
      <% else %>
      <%= User.find(match.winner_id).pseudo %>
    <% end %>
  </p>

  <br/>

<% end %>
